<?xml version="1.0"?>
<launch>
    <!--Variables for the robot1-->
    <arg name="robot1_name" value="robot1"/>
    <arg name="robot1_namespace" value="$(arg robot1_name)_ns"/>
    <arg name="robot1_tf" value="$(arg robot1_name)_tf/"/> 
    <arg name="moveit_rviz" default="true" /> <!--This parameter controls if the RVIZ window for controlling the robot arm should open. Default is true, so it will open.-->
    <include file="$(find fpp_general)/launch/helper/spawn_mur205.launch">
        <arg name="robot_name" value="$(arg robot1_name)"/>
        <arg name="robot_namespace" value="$(arg robot1_namespace)"/>
        <arg name="tf_prefix" value="$(arg robot1_tf)"/>
        <arg name="moveit_rviz" default="$(arg moveit_rviz)" />
    </include>
</launch>