<?xml version="1.0"?>
<launch>
	<arg name="formation_costmap_params" default="$(find fpp_launch)/config/formation_costmap_params.yaml"/>

	<group ns="move_base_flex">
		<node pkg="formation_costmap" type="formation_footprint_node" name="formation_footprint_node" output="screen">
			<!--Load params for the formation costmap layer-->
			<rosparam file="$(arg formation_costmap_params)" command="load"/>
		</node>
	</group>
</launch>