<?xml version="1.0"?>
<launch>
    <!--Parameter for the robot0 that can be adjusted from outside of the launch file-->
    <arg name="robot0_name" default="robot0"/>
    <arg name="robot0_tf_prefix" default="$(arg robot0_name)_tf/"/> <!--Notice the "/", it is important to only add it to the tf_prefix-->
    <arg name="robot0_namespace" default="$(arg robot0_name)_ns"/>

    <!--Start Gazebo with GUI-->
    <arg name="gazebo_gui" default="true"/>

    <!--Constant values that cant be adjusted from outside the launch file-->
    <arg name="robot0_navigation_rviz_command_args" value="-d $(find mur205_launch)/rviz/robot0_navigation_config.rviz"/>
  
    <!--Start complete system-->
    <include file="$(find mur205_launch)/launch/system_sim.launch">
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
        <arg name="world_name" value="$(find fpp_gazebo)/worlds/fpp_test_world.world"/>
        <arg name="map_file" value="$(find mir_gazebo)/maps/pp_test_5.yaml"/>
    </include>

    <!--Create namespace for robot0 and start everything that belongs in the namespace inside the group-->
    <group ns="$(arg robot0_namespace)">
        <include file="$(find mur205_launch)/launch/spawn_mur205.launch">
            <arg name="robot_name" value="$(arg robot0_name)"/>
            <arg name="robot_namespace" value="$(arg robot0_namespace)"/>
            <arg name="tf_prefix" value="$(arg robot0_tf_prefix)"/>
        </include>

        <node name="$(arg robot0_name)_navigation_rviz" pkg="rviz" type="rviz" respawn="false" 
            args="$(arg robot0_navigation_rviz_command_args)" output="screen"/>

        <!--This node is necessary to easily set the target position for the move_base_flex package through rviz-->
        <!--If a different path planner should be used, change the planner that is defined in the relay-->
        <!--Typically you copy this node to where you need a changed path planner. This one should stay default.-->
        <node pkg="mir_navigation" type="move_base_legacy_relay.py" name="move_base_legacy_relay" output="screen"/>
    </group>
</launch>