<launch>
    <arg name="ros_bag_filename" default="fpp_data"/>
    <arg name="file_path" default="/home/hlurz/rosbags/"/>

    <node pkg="rosbag" type="record" name="record_fpp"
       args="record -e  (.*)/mobile_base_controller/odom
                        (.*)/mobile_base_controller/cmd_vel
						(.*)/plan

                        
                    -o $(arg file_path)$(arg ros_bag_filename).bag"/>
</launch>