<?xml version="1.0"?>
<launch>
    <!--Variables for the robot1-->
    <arg name="robot_name" value="robot1"/>
    
    <!--Create namespace for robot0 and start everything that belongs in the namespace inside the group-->
    <group ns="$(arg robot_name)">
        <!--This parameter is necessary to define the name of the robot in this namespace-->
        <param name="robot_name" type="str" value="$(arg robot_name)"/> 

        <include file="$(find mir_launch_hardware)/launch/mir_100.launch">
            <arg name="tf_prefix" value="$(arg robot_name)"/>
            <arg name="move_base_selector" value="move_base_flex"/>
            <arg name="start_move_base_simple" value="false" />
            <arg name="global_planner" value="FormationPathPlanner"/>
            <arg name="global_planner_config" value="$(find fp_tests)/config/three_robot_config/fpp_three_robot_params.yaml" />
            <arg name="local_planner" value="FormationPathController"/>
            <arg name="local_planner_config" value="$(find fp_tests)/config/three_robot_config/fpc_three_robot_params.yaml" />
        </include>

        <param name="move_base_flex/global_costmap/obstacles/enabled" value="false"/>
    </group>
</launch>